<h2 class="mb-4">Orders</h2>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Order ID</th>
            <th scope="col">Vehicle ID</th>
            <th scope="col">Date</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.OrderId</th>
                <td scope="row">@item.VehicleId</td>
                <td scope="row">@item.Date.ToString("dd-MM-yyyy")</td>
                <td>
                    <a class="btn btn-outline-danger btn-sm" href="/Order/Delete?id=@item.OrderId" role="button">Delete</a>
                    <a class="btn btn-outline-success btn-sm" href="/Order/Details?id=@item.OrderId" role="button">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary mt-4" href="/Order/MakeOrder">Make Order</a>
