<a class="btn btn btn-outline-info" href="/Order/MakeOrder">Make order</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">VehicleId</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <th scope="row">@item.OrderId</th>
                <td>@item.VehicleId</td>
                <td>@item.Date</td>
            </tr>
        } 
    </tbody>
</table>